__pycache__/
*.pyc
*.pyo
*.so
*.dylib
*.o
*.mod
*.exe

.DS_Store
.vscode/
.idea/

*.log
*.tmp

.env
.venv/
venv/
env/
.ipynb_checkpoints/

# Fortran compiled output
sdm2025

# Fortran build outputs
external/SDM/SDM2025/SourceCode/sdm2025
external/SDM/SDM2025/SourceCode/sdmalloc.mod
external/SDM/.DS_Store
external/SDM/SDM2025/.DS_Store
